<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
    <section id="plugin.video.kodimansmacplayer.service">
        <category id="general" label="Stalker Portal Einstellungen" help="">
            <group id="1" label="Zugangsdaten">
                <setting id="portal_url" type="string" label="Portal-URL" default="http://mag.abc.xyz:80/c/" help="Die volle URL zum Portal (oft endend auf /c/)"/>
                <setting id="mac_address" type="string" label="MAC-Adresse" default="00:1A:79:00:00:00" help="Die MAC-Adresse des Geräts"/>
            </group>
        </category>
    </section>
</settings>>
